<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Board</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
<div class="container">
    <a href="/" class="btn btn-info">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span>form</span>
    </a><br>

    <div class="container">
        <div class="row">
            <table class="board" th:object="${board}" th:with="cellSize=${board.celSize}">
                <tr th:each="listsInner : *{cells}">
                    <td class="bl" th:each="cell :${listsInner}"
                        th:class="${cell.color.name() eq 'WHITE'} ? 'wh':'bl'"
                        th:styleappend="'height:'+${cellSize}+'px; '+'width:'+${cellSize}+'px;'"
                    >
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
    <script type="text/javascript" src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/custom.js"></script>
</body>
</html>
